---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const does = [
  { name: 'Common Voice', url: 'https://commonvoice.mozilla.org/' },
  {
    name: 'Conference Talks',
    url: 'https://youtu.be/FYrhgCh0XV4?feature=shared',
  },
  {
    name: 'Open Source',url: 'github.com/jessicarose'},
    { name: 'Kanji', url: 'https://www.wanikani.com/users/jesslynnrose' },
    { name: 'Learning Indonesian 🔰', url:'https://publish.obsidian.md/jesslynnrose/Welcome'},
    { name: 'Brum Tech Slack', url:'https://docs.google.com/forms/d/e/1FAIpQLSex78x9s3Ijl9PruWpy1vMsRrqdu75N3D4wnicg0983WUBMGg/viewform?usp=sf_link'}
];

const likes = [
{ name: 'Internet Archive', url: 'https://archive.org/' },
{ name: 'Open Syllabus', url: 'https://www.opensyllabus.org/'},
{ name: 'Francophone webradio', url: 'https://www.radiofrance.fr/fip/radio-sacre-francais'},
{ name: 'BOM Lab', url: 'https://bom.org.uk/'},
{ name: 'Pen Museum', url: 'https://penmuseum.org.uk/'},
{ name: 'Birmingham', url: 'http://www.paradisecircus.com/'},
{ name: 'Tapirs', url: 'https://en.wikipedia.org/wiki/Tapir'},
{ name: 'LibraryThing', url: 'https://www.librarything.com/'},
]

const bootcamp = [
{ name: 'Website', url: 'https://www.badwebsite.club' },
{ name: 'Discord', url:'https://discord.gg/UgweYN8q'},
{ name: 'Next start date: Jan 2025'},
{ name: 'Web curriculum', url: 'https://www.freecodecamp.org/learn/2022/responsive-web-design/'},
{ name: 'JavaScript curriculum', url: 'https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/'}
]
---

<Layout
  title='Jessica.tech'
  pageTitle='Jessica.tech'
  description='Personal website for Jessica Rose'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid lg:grid-cols-8 lg:grid-rows-2 gap-8 mt-4 items-stretch'>
      <h2 class='hidden'>About Jess</h2>
      <div class='col-span-4 row-span-2'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Jessica Rose is <a
                class='text-white'
                target='_blank'
                href='https://github.com/jessicarose'>excited</a
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              about language, technology and how we connect with each other.
            </p>
            <p class='mt-2 mb-2 outfit text-xl md:text-3xl lg:text-5xl'>
              She's always excited to hear about what other people are excited to talk about.
            </p>
            <Button target={'_self'} href='/blog/'>
              She writes about it &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-4 sm:col-span-2 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Does
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              does.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-4 sm:col-span-2 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Likes
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              likes.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-4 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-2 dm-serif'>
            Bad Website Club
          </h2>
          <p class='mt-2 outfit text-xl md:text-1xl lg:text-1xl mb-8'>Jess and her bestie <a class='underline' href="https://carmenh.dev/">Carmen</a> teach free, part time online bootcamps for web and JS based on the <a class='underline' href="https://freecodecamp.org">freeCodeCamp</a> curricula</p>
          <ul class='flex gap-4 flex-wrap'>
            {
              bootcamp.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
