---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const projects = [
  { name: 'Common Voice', url: 'https://commonvoice.mozilla.org/' },
  {
    name: 'Conference Talks',
    url: 'https://youtu.be/FYrhgCh0XV4?feature=shared',
  },
  {
    name: 'Open Source',
    url: 'github.com/jessicarose',
  }
];

const learning = [
{ name: 'Japanese', url: 'https://www.wanikani.com/users/jesslynnrose' },
{ name: 'Indonesian', url:'https://publish.obsidian.md/jesslynnrose/Welcome'},
{ name: 'AI datasets'},
{ name: 'HTML, CSS, JS'},
]

const bootcamp = [
{ name: 'Website', url: 'https://www.badwebsite.club' },
{ name: 'Discord', url:'https://discord.gg/UgweYN8q'},
{ name: 'Next start date: Jan 2025'}
]
---

<Layout
  title='Jessica.tech'
  pageTitle='Jessica.tech'
  description='Personal website for Jessica Rose'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 md:grid-rows-2 gap-8 mt-4 items-stretch'>
      <h2 class='hidden'>About Jess</h2>
      <div class='col-span-4 row-span-2'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Jessica Rose is <a
                class='text-white'
                target='_blank'
                href='https://github.com/jessicarose'>excited</a
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              about language, technology and how we connect with each other.
            </p>
            <Button target={'_self'} href='/blog/'>
              She writes about it &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            I work on
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              projects.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Exploring
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              learning.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-4 row-span-1'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-2 dm-serif'>
            Bad Website Club
          </h2>
          <p class='mt-2 outfit text-xl md:text-1xl lg:text-1xl mb-8'>Jess and her bestie <a class='underline' href="https://carmenh.dev/">Carmen</a> teach free, part time online bootcamps</p>
          <ul class='flex gap-4 flex-wrap'>
            {
              bootcamp.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
